<%= render "devise/shared/navbar" %>

<div class="jumbotron text-center">

<h1>Editar Pedido</h1>

</div>


<%= render 'form', pedido: @pedido %>

<div class="text-center">
<%= link_to 'Mostrar pedido', @pedido %>
<br>
<%= link_to 'Voltar', pedidos_path %>
</div>