<%= render "devise/shared/navbar" %>

<div class="jumbotron text-center">

<h1>Novo Pedido</h1>

</div>

<%= render 'form', pedido: @pedido %>

<div class="text-center">
<%= link_to 'Voltar', :back %>
</div>

