<%= render "devise/shared/navbar" %>


<div class="jumbotron text-center">

<h1>Desafio ITEC</h1>

</div>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Desafio ITEC</h4>
    <p class="card-text">Data de entrega: 14/06/2019. </p>
    <p class="card-text">
    	Etapas:
    <ul class="list-group">
	  	<li class="list-group-item d-flex justify-content-between align-items-center">Criar projeto com ruby on rails 5 chamado desafio_itec
	  	<span class="badge badge-pill badge-success">Success</span></li>
	  	<li class="list-group-item d-flex justify-content-between align-items-center">Incluir bootstrap 4 
	  	<span class="badge badge-pill badge-success">Success</span></li>
	  	<li class="list-group-item d-flex justify-content-between align-items-center">Criar modelos usuário(nome, email e senha) e pedidos(codigo, descrição)
	  	<span class="badge badge-pill badge-success">Success</span></li>
	  	<li class="list-group-item d-flex justify-content-between align-items-center">Determinar e implementar o tipo de relacionamento que achar mais adequado
	  	<span class="badge badge-pill badge-success">Success</span></li>
	  	<li class="list-group-item d-flex justify-content-between align-items-center">O usuário precisa se autenticar para acessar o sistema(gem devise)
	  	<span class="badge badge-pill badge-success">Success</span></li>
	  	<li class="list-group-item d-flex justify-content-between align-items-center">Fazer deploy no heroku
	  	<span class="badge badge-pill badge-success">Success</span></li>
		<li class="list-group-item d-flex justify-content-between align-items-center">Enviar link do projeto no heroku e do github
		<span class="badge badge-pill badge-success">Success</span></li>

	</ul>
    </p>
    <a href="#" class="card-link">Github</a>
    <a href="#" class="card-link">Heroku</a>
  </div>
</div>
